body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

h2 {
margin: 50px auto;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}

.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.time-display {
  font-size: 2rem;
  margin: 10px 0;
}

.buttons {
  margin: 20px 0;
}

.start-button, .stop-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.start-button {
  background-color: green;
  color: white;
  border: none;
}

.stop-button {
  background-color: red;
  color: white;
  border: none;
}  

.links {
  margin: 10px;
  text-decoration: none;
}

.links:hover {
  color: red;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 20px;
}

nav li {
    margin-right: 15px;
}

nav li a.active {
  font-weight: bold;
  color: red;
}

nav li a.custom-active {
  font-weight: bold;
  color: magenta;
}